{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/casa-fotos/Banners.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sobre</h1>
            <span class="subheading">Uma breve história de nosso trabalho</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;O Núcleo de Apoio à Criança com Câncer do Estado da Paraíba (NACC - PB), conhecido como a Casa da Criança com Câncer é uma ONG destinada ao apoio em serviços de oncologia pediátrica às crianças de 0 a 18 anos,
          portadores de câncer, residentes no interior do Estado da Paraíba.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Oferecemos gratuitamente, dentre vários serviços, hospedagem completa (inclusive aos acompanhantes), abrangendo alimentação, transporte às unidades hospitalares, atendimento oncológico, programas educativos e de lazer.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Nossa história iniciou em setembro de 1997, quando a instituição foi fundada pelo Dr. Gilson Espínola Guedes, médico hematologista,
           sob motivação da situação socioeconômica dos pacientes portadores de câncer ao chegar em João Pessoa.
        </p>

        <div style="text-align:center">
          <img class="col col-sm-11 col-md-5 col-lg-5 about-photos" src="static/img/casa-fotos/GilsonLivro.jpeg" width="300" alt="Dr. Gilson apresentando livro">
          <img class="col col-sm-11 col-md-5 col-lg-5 about-photos" src="static/img/casa-fotos/GilsonEscritorio.jpeg" width="300">
          <img class="col col-sm-11 col-md-5 col-lg-5 about-photos" src="static/img/casa-fotos/Banners.jpeg" width="300">
          <img class="col col-sm-11 col-md-5 col-lg-5 about-photos" src="static/img/casa-fotos/GilsonArvore.jpeg" width="300">
          <p style="font-size:15px">Dr. Gilson Espínola Guedes, fundador da Casa da Criança com Câncer</p>
        </div>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Atualmente, foram mais de 220 municípios atendidos pelo nosso trabalho.
          De segunda-feira até sexta-feira, a frequência média de crianças está entre 10 e 20 crianças atendidas.
      </p>
         <p>&nbsp;&nbsp;&nbsp;&nbsp;A cada mês, em média, doamos 80 cestas básicas.
      </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}