{% include "header.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/backgroundindex.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Crianças vinculadas</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>



  <!-- Main Content -->
  <div class="container">
    <button class="btn btn-primary" onclick="window.location.href='{{ url_for('admin_page') }}'">Voltar</button>



    <div class="row">
      <div class="options col-lg-10 col-md-12 mx-auto">

        <ol>
          {% for child in children %}
        <li>
          <div class="post-preview">
          <a href="">
            <h2 class="post-title">
              {{child.name}} - Nascido em {{child.birthdate}}
            </h2>
          </a>

          {% if current_user.id == 1: %}
            <button class="btn btn-primary" onclick="window.location.href='{{ url_for('edit_child', child_id=child.id) }}'">Editar</button>
            <button class="btn btn-primary" onclick="window.location.href='{{ url_for('delete_child', child_id=child.id) }}'">Deletar</button>

          {% endif %}

        </div>
        </li>
        <hr>
        {% endfor %}
        </ol>


      </div>


      </div>
    </div>
  </div>
  <hr>



<link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">

<div style=" width:700px; height:700px; text-align: center;margin-left:600px;">
  <canvas id="myChart" width="200px" height="200px"></canvas>
</div>


<script>
const ctx = document.getElementById('myChart').getContext('2d');
ctx.canvas.width = 300;
ctx.canvas.height = 300;
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label: 'Número de crianças',
            data: {{ data | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% include "footer.html" %}