{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/backgroundindex.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contato</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Entre em contato conosco pelas nossas redes sociais:
          <ul>
            <li>Whatsapp: +55 83 8821-5687</li>
            <li>Instagram: @casadacriancacomcancerpb</li>
            <li>Facebook: casadacriancacomcancerpb</li>
            <li>Telefone fixo: (83) 3241-3233</li>
          </ul>


      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}