{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/backgroundindex.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contato</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Entre em contato conosco pelas nossas redes sociais:
          <ul class="contact-init" type="none">
            <li><span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>Whatsapp: <a href="https://wa.me/message/25MBNTLCAUKIB1">+55 83 8821-5687</a></li>
            <li><span class="fa-stack md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>Instagram: <a href="https://www.instagram.com/casadacriancacomcancerpb/">@casadacriancacomcancerpb</a></li>
            <li><span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>Facebook: <a href="https://www.facebook.com/casadacriancacomcancerpb/">casadacriancacomcancerpb</a></li>
            <li><span class="fa-stack md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fa fa-phone-square fa-stack-1x fa-inverse"></i>
                </span>Telefone fixo: (83) 3241-3233</li>
             <li><span class="fa-stack md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fa fa-mail-bulk fa-stack-1x fa-inverse"></i>
                </span>Email: <a href= "mailto:naccpb@terra.com.br" >naccpb@terra.com.br</a></li>
          </ul>


      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}