<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A Casa da Criança com Câncer é uma ONG destinada ao apoio em serviços de oncologia pediátrica às crianças de 0 a 18 anos,
          portadores de câncer, residentes no interior do Estado da Paraíba. Atuamos desde 1997 em João Pessoa, Paraíba">
  <meta name="author" content="Cândido Alfredo">

  <title>Casa da Criança com Câncer</title>

  <link rel="icon" href="{{ url_for('static', filename='img/title.jpg')}}">

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <img class="logo-exp bigger-img" src="static/img/casa-fotos/LogoSemNome2.jpeg" width="75">
      <img class="logo-exp smaller-img" src="static/img/casa-fotos/LogoCNome.jpeg" width="225">
      <a class="navbar-brand bigger-img" style="font-size:18px" href="{{url_for('get_all_posts')}}">Casa da Criança com Câncer</a>
      <button style="font-size:13px;" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_all_posts') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('projects') }}">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('mission') }}">Missão</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
