{% include "header.html" %}
<link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

  <!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/casa-fotos/GilsonLivro.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Casa da Criança com Câncer</h1>
            <span class="subheading">Desde 1997 acolhendo crianças e adolescentes com muito amor!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-md-12 mx-auto">
        <h1>A casa</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Somos uma ONG destinada ao apoio de crianças que possuem câncer no Estado da Paraíba
        fundada em 1997. Nosso objetivo é fornecer suporte a crianças residentes no interior da Paraíba que precisam de serviços de oncologia pediátrica,
          por meio de serviços como de hospedagem, alimentação, programas educativos, entre outros.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Estamos localizados na Rua Dep. Odon Bezerra 215 (Tambiá), João Pessoa.</p>

        <iframe class="page-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.0956279059633!2d-34.8801981!3d-7.114916099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace7e660d84821%3A0xde453dc66fbcd1d8!2sR.%20Dep.%20Odon%20Bezerra%2C%20215%20-%20Tambi%C3%A1%2C%20Jo%C3%A3o%20Pessoa%20-%20PB%2C%2058020-500!5e0!3m2!1spt-BR!2sbr!4v1672083078173!5m2!1spt-BR!2sbr" width="90%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <hr>
      </div>


      <div class="col-lg-10 col-md-12 mx-auto">
        <h1>Como contribuir</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Existem diversas formas que você pode ajudar a instituição, dentre essas, por doações em PIX e na conta bancária da instituição, também
        por meio da doação de itens constados nas necessidades do mês.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Nossa instituição é amparada pela contribuição de diversas pessoas físicas, Instituições, movimentos sociais e grupos de trabalho de diversas naturezas.
         Entre em contato com nossos meios de comunicação para contribuir: </p>
         <ul class="contact-init" type="none">
            <li><span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>Whatsapp: <a href="https://wa.me/message/25MBNTLCAUKIB1">+55 83 8821-5687</a></li>
            <li><span class="fa-stack md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>Instagram: <a href="https://www.instagram.com/casadacriancacomcancerpb/">@casadacriancacomcancerpb</a></li>
            <li><span class="fa-stack fa-md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>Facebook: <a href="https://www.facebook.com/casadacriancacomcancerpb/">casadacriancacomcancerpb</a></li>
            <li><span class="fa-stack md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fa fa-phone-square fa-stack-1x fa-inverse"></i>
                </span>Telefone fixo: (83) 3241-3233</li>
             <li><span class="fa-stack md">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fa fa-mail-bulk fa-stack-1x fa-inverse"></i>
                </span>Email: <a href= "mailto:naccpb@terra.com.br" >naccpb@terra.com.br</a></li>
          </ul>
        <hr>



        <div>
          <h1>Formas de doação</h1>

                    <p>PIX (CNPJ) 02.229.875.0001-95</p>
                    <p>Ag.3502-5 CC.1583-0</p>
                    <p>NACC-PB / Banco do Brasil</p>

        </div>

        <hr>

        <div class="monthly-needs col-lg-8 col-md-12">
          <h1 style="color:#3B5071;text-align:center">Como posso ajudar a Casa da Criança com Câncer?</h1>
          <hr style="background-color:white; height:1px;opacity:.5;width:40%">
          <div style="display:flex;justify-content:center;align-items:center;">
            <div style="color:#3B5071;" class="needs col col-md-8">
            <ul type="square">

              <li>Doações financeiras</li>
                <li>Doações de alimentos</li>
                <li>Doações de roupas</li>
                <li>Doações de brinquedos</li>
                <li>Doação de amor e tempo</li>



          </ul>
          </div>

        </div>
      </div>
      </div>




    </div>
  </div>
  <hr>



{% include "footer.html" %}
