{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/casa-fotos/GilsonLivro.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Missão, visão e valores</h1>
            <span class="subheading">Entenda os alicerces de nossa missão</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;A Casa objetiva acrescer sempre a todos envolvidos no projeto da organização.
        Nossas bases são expressas pela nossa missão, nossa visão e nossos valores.
      </p>

        <h2>Nossa missão</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Dar suporte a serviços de oncologia a crianças do interior do estado da Paraíba, além de oferecer diversos serviços gratuitos para essas. </p>

        <h2>Visão</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Tornar-se inspiração para o apoio de pessoas necessitadas e referência na ajuda a crianças necessitadas.</p>

        <h2>Nossos valores</h2>
          <ul>
            <li>Respeito às diferenças de cada pessoa envolvida no projeto</li>
            <li>Apoio aos mais necessitados</li>
            <li>Empatia e honestidade</li>
            <li>Atuação com propósito</li>
            <li>Trabalho em equipe</li>
          </ul>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}