{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/casa-fotos/Banners.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Serviços e projetos</h1>
            <span class="subheading">Entenda como nosso trabalho funciona</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Ao todo já passaram mais de 687 crianças e adolescentes pela instituição, sendo atualmente cadastradas 125 crianças e adolescentes.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;O acesso à Casa da Criança procede às seguintes condições:</p>
        <ol type="a">
          <li>Ser portador de câncer</li>
          <li>Encaminhamento médico</li>
          <li>Ter acompanhante</li>
          <li>Ser do interior da Paraíba</li>
        </ol>
        <hr>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;A Casa oferece diversos serviços, dentre os quais constam:
          <ul>
            <li>Hospedagem completa com roupa de cama e banho, produtos de higiene e limpeza</li>
            <li>3 refeições principais e 3 lanches</li>
            <li>Roupa para os mais necessitados</li>
            <li>Transporte dentro da cidade</li>
            <li>Cestas básicas</li>
            <li>Lazer e promoção de festas</li>
            <li>Orientação e encaminhamento de documentos (CPF, Identidade, etc.)</li>
            <li>Acompanhamento para hospitais e clínicas</li>
            <li>Alfabetização e reforço escolar para crianças e acompanhantes</li>
            <li>Atividades biblioterapêuticas</li>
            <li>Trabalhos manuais</li>
            <li>Tratamento dentário (voluntário e fora da Casa)</li>
          </ul>
      </p>
      <hr>
        <p>Dentre os projetos ativos na Casa, estão:
        </p>

        <hr>

        <h4>PROJETO DE MÃOS DADAS PELA VIDA</h4>
        <h5>Funciona <label>desde 2005</label></h5>
        <h5>Coordenação: <label>Ana Maria Coutinha de Sales</label></h5>
        <h5>Instituição: <label>Universidade Federal da Paraíba- UFPB</label></h5>
        <h5>Departamento: <label>Departamento de Fundamentação da Educação - Centro de Educação</label></h5>
        <h5>Curso: <label>Psicologia (Especialização e mestrado pela UFPB e Doutorado pela UFPE)</label></h5>

        <hr>

        <h4>PROJETO PASSARINHO</h4>
        <h5>Funciona <label>desde 2003</label></h5>
        <h5>Projeto: <label>Vivência multidisciplinar de cuidado à criança e adolescente com câncer e seus familiares em uma casa de apoio.</label></h5>
        <h5>Coordenação: <label>Jael Rúbia Figueiredo de Sá França</label></h5>
        <h5>Instituição: <label>Universidade Federal da Paraíba- UFPB</label></h5>
        <h5>Departamento: <label>Departamento de Enfermagem e Saúde Coletiva do Centro de Ciências da Saúde da Universidade Federal da Paraíba</label></h5>
        <h5>Curso: <label>Enfermagem (Mestre e Doutora na área de Fundamentos Filosóficos do Cuidar em Saúde e Enfermagem pela Universidade Federal da Paraíba)</label></h5>

        <hr>

        <h4>PROJETO ALEGRARTE</h4>
        <h5>Funciona <label>desde 2015</label></h5>
        <h5>Coordenação: <label>Zirleide Carlos Felix</label></h5>
        <h5>Departamento: <label>Projeto vinculado à coordenação do curso de enfermagem do IESP</label></h5>
        <h5>Curso: <label>Enfermagem </label></h5>
        <h5>Formação: <label>Mestrado </label></h5>

        <hr>


      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}